PORT=3005
DATABASE_URL="mysql://USER:PASSWORD@VM_PUBLIC_IP:3306/parklink_db"
RESERVATION_SERVICE_URL="http://localhost:3004"
NOTIFICATION_SERVICE_URL="http://localhost:3006"
JWT_SECRET="change_this_secret"
NODE_ENV="development"
