PORT=3004
DATABASE_URL="mysql://USER:PASSWORD@VM_PUBLIC_IP:3306/parklink_db"
PARKING_SERVICE_URL="http://localhost:3003"
PAYMENT_SERVICE_URL="http://localhost:3005"
NOTIFICATION_SERVICE_URL="http://localhost:3006"
JWT_SECRET="change_this_secret"
NODE_ENV="development"
